<% layout("/layouts/boilerplate") %>

    <!-- <h2> All Listing </h2> -->
    <!-- <form action="/listings/new" method="GET">
        <button>Create New Listing</button>
    </form> -->

    <div id="filters">
    <a href="/listings?category=Trending">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
    </a>
    <a href="/listings?category=Rooms">
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
    </a>
    <a href="/listings?category=Iconic Cities">
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
    </a>
    <a href="/listings?category=Mountains">
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
    </a>
    <a href="/listings?category=Castles">
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
    </a>
    <a href="/listings?category=Amazing Pools">
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
    </a>
    <a href="/listings?category=Camping">
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
    </a>
    <a href="/listings?category=Farms">
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
    </a>
    <a href="/listings?category=Arctic">
        <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
    </a>
    <a href="/listings?category=Domes">
        <div class="filter">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
        </div>
    </a>
    <a href="/listings?category=Boats">
        <div class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
        </div>
    </a>
    <style>
        #filters a {
            text-decoration: none;
            color: inherit;
        }
    </style>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card listing-card col">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing.title%>
                            </b> <br>
                            <%=listing.price.toLocaleString("en-IN")%> / night
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>