body{
    font-family: "Plus Jakarta Sans", "sans-serif" !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: rgb(255, 255, 255);
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.3rem;
    margin-right: .8rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
}


/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}


/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: .2;
    background-color: white;
}


/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* Edit pag */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* Show page */
.show-img{
    height: 41vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* filter options on page */
#filters {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 0rem;
    gap: 1.8rem; 
}

#filters::-webkit-scrollbar {
    display: none;
}

#filters {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.7;
    flex-shrink: 0; 
    cursor: pointer;
    transition: 0.3s;
}

.filter:hover {
    opacity: 1;
    border-bottom: 2px solid black;
    padding-bottom: 5px; 
}

.filter p {
    font-size: 0.8rem;
    margin-top: 0.25rem; 
    font-weight: 500;
}

.filter i {
    font-size: 1.5rem; 
}